<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMUth Ride</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link rel="stylesheet" href="login.css" />
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-register">

            <form action="../rides/rides_list/rides_listing.html" method="post" class="sign-in-form" id="login">
                <h2 class="title">
                    Login
                </h2>
                <div class="txt_field">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name='useroremail' required>
                    <span></span>
                    <label>
                        Username
                    </label>
                </div>
                <div class="txt_field">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name='password' required>
                    <span></span>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
            </form>

            <form action="../rides/rides_list/rides_listing.html" method="post" class="register-form" id="registration">
                <h2 class="title">
                    Register
                </h2>
                <div class="txt_field" style="position: relative">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name='username' required v-model="username">
                    <span></span>
                    <label>
                        Username
                    </label>
                    <label
                            class="alert text-danger"
                            role="alert"
                            v-if="check_username()"
                    >
                        Username cannot contain comma (,) or semicolon (;).
                    </label>
                </div>
                <div class="txt_field">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name='name' required >
                    <span></span>
                    <label>
                        Display Name
                    </label>
                </div>
                <div class="txt_field">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" name='email' required>
                    <span></span>
                    <label>
                        Email
                    </label>
                </div>
                <div class="txt_field">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name='pw' required>
                    <span></span>
                    <label>
                        Password
                    </label>
                </div>
                <div class="txt_field">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" name='cfmpassword' required>
                    <span></span>
                    <label>
                        Confirm Password
                    </label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h1 style="font-size:3rem">SMUth Ride</h1>
                    <h3>New here?</h3>
                    <p>
                        SMUth Ride is a carpooling platform that offers rides to and from SMU for everyone in SMU!
                        Catch this opportunity to make friends around campus!
                        <b>Have a smooth ride with SMUth Ride!</b>
                    </p>
                    <button class="btn transparent" id="register-btn">Register</button>
                </div>

                <img src="img/front_car.svg" class="image" alt="">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us?</h3>
                    <p>
                        Welcome back SMUth Riders!
                        Miss the fun and exciting rides to and from SMU?
                        Login now and ride away!
                    </p>
                    <button class="btn transparent" id="sign-in-btn">Login</button>
                </div>

                <img src="img/front_car.svg" class="image" alt="">
            </div>

        </div>

    </div>

</div>


<script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
></script>
<script type="module" src="login.js"></script>
<script>
    // used to prevent the page from refreshing after submit, because its quite annoying lol
    // var form = document.getElementById("registration");
    // function handleForm(event) {
    //     event.preventDefault();
    // }
    // form.addEventListener('submit', handleForm);

    // var form = document.getElementById("login");
    // function handleForm(event) {
    //     event.preventDefault();
    // }
    // form.addEventListener('submit', handleForm);
</script>
</body>
</html>