<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="chat.css">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
    <link rel="stylesheet" href="../../navbar/nav_styles.css" />
    <link rel="stylesheet" href="chat.css">
    <!-- icon library -->
    <script src="https://kit.fontawesome.com/943156cb0b.js" crossorigin="anonymous"></script>
    <script src="vanilla_firebase.js" type="module"></script>
    
    <title>Chat</title>
</head>
<body>
    <!-- navbar -->
    <div id="navbarVue">
      <div
          data-page="chat"
      ></div>
    </div>

    
      <!-- chatpage -->
      <div class="container text-center mt-3">
        <header>
            <h2>SMUth Chat</h2>
            <h6>Chat With Your Group and Agree on Price</h6>
           
        </header>
      </div>
      


        <div class="container chat-container" id="chatroom">
          
            <!-- {{ messages }} -->
            <!-- Offer Overlay -->
            <div id="overlay" class="my-auto">
              <div id="text" class="mb-6">
                <img src="./6-2-taxi-cab-png-images.png" alt="" class="img-fluid">
                <h1 class="text-center mb-5">Make an Offer</h1>
                
                <div class="d-flex justify-content-evenly mb-4">
                  <p>
                    Driver:
                  </p>
                  <!-- {{ selected_driver }} -->
                  <select class="form-select form-select mb-3 w-50" aria-label=".form-select example" v-model="selected_driver" v-on:change="get_relevant_rides">
                    <option selected>{{ other_user }}</option>
                    <option>{{ user }}</option>
                    <!-- <option value="1">Use vue for this</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option> -->
                  </select>
                  <div></div>
                  </div>
                <div class="d-flex justify-content-evenly mb-4">
                  <p>
                    Rides:
                  </p>
                  
                  <select class="form-select form-select mb-3 w-50" aria-label=".form-select example" v-model="selected_ride">
                    <!-- v-bind:value="address[1]" -->
                    <option v-for="address of relevant_rides" v-bind:value="address[1]">
                      {{ address[0] }}
                    </option>
                  </select>
                  <div></div>
                </div>
                  
                <div class="justify-content-evenly mb-4 d-flex">
                  <p>
                    Price ($):
                  </p>
                  <input type="number" id = "offer_price" name='cost' min="0" step="0.01" class="text-input cost-input text-label" v-model="offer_price" oninput="validity.valid||(value='');" required>
                </div>
                
                
                <span id="confirm_cancel">
                  <button type="button" class="btn btn-danger" onclick="off()">Cancel</button>
                  <button type="button" class="btn btn-success" onclick="off()" id="confirmOffer" v-on:click="send_offer">Confirm</button>
                </span>
              </div>
            </div>
            <!-- Offer Overlay END -->
            
            <!-- LEFT BAR -->
            <!-- NEED TO BOOTSTRAP THIS THING -->
            
        <div class="container-fluid" >
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
              <div style="height:min-content" id="leftbar" v-show="swapping == true" class="d-none d-md-block">
             
                <div class="mt-1 chat-label-div">
                  <h3 class="text-center d-block chat-label">Chats</h3>
                  <hr>
                </div>
                <chat-box v-for="chat_id of chat_array" :chat_id="chat_id" v-on:get_chat="retreive_chat"></chat-box>
                
               </div>

            </div>
            
            <!-- LEFT BAR END -->
            <div class="col-md-8 col-xs-12 col-sm-12">

                <div id="chat" onscroll="sticky()" style="min-height: 70vh; max-height: 80vh;">
                  <div id="contact" class="d-flex">
                    <div class="d-flex">
                      <!-- back icon -->
                      <!-- <button class="d-block d-md-none clearfix" @click="swap"> -->
                        <svg id="back-button" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFF" class="bi bi-arrow-left d-md-none" viewBox="0 0 16 16" @click="swap">
                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                        </svg>
                        <!-- <i class="fa-solid fa-arrow-left fa-2xl d-block d-md-none" style="margin-top: 20px;" @click="swap"></i> -->
                      <!-- </button> -->
                      
                      <div id="photo"><img :src="image_url" class="img-fluid rounded-circle"
                        style="object-fit:fill;height: 50px; width: 50px; object-position: 50% 50%"> </div>
                      <h3 id="other-user" class="font-weight-bolder">{{ other_user }}</h3>
                    </div>
                    <div>
                      <button
                      type="button"
                      class="btn btn-light"
                      onclick="overlay()"
                      id="make-offer-button"
                      >
                      Make Offer
                      </button>
                    </div>
                  </div>
                  <!-- messages will display here -->
                  <!-- <div id="messages">
                <ul id = "message_list"></ul>
              </div> -->
              <!-- class=${
                  username === messages.username ? "sent" : "receive"
                } -->
                
                  <ul id="messages">
                      <li v-for="message of messages" :class="{sent: user == message.username, receive: user != message.username}">
                        <p v-if="message.type != 'offer'" v-html="message_formatted(message)"></p>
                        <p v-else-if="message.type == 'offer' && user!= message.username">
                          <offer-button :message="message" :selected_ride="message.selected_ride" :user="message.username" :message_status="message.accepted" v-on:accept="accept" v-on:decline="decline"></offer-button>
                        </p>
                        <p v-else-if="message.type == 'offer' && user== message.username">
                          <status-check :message="message"></status-check>
                        </p>
                      </li>

                    
                  </ul>

                  <div style="background-color:azure; width: fit-content;border-radius: 30px; float: right; padding: 20px;" v-if="is_offer" class="sent" v-html="offer_template"></div>

                  <!-- form to send message -->
                  <div class="sub_div d-flex">
                      <!-- <form action="" id="message-form"> -->
                          <input
                              id="message-input"
                              type="text"
                              placeholder="Type Message..."
                              v-model="message_to_send"
                              @keyup.enter="send_message"
                          />

                          <button
                              type="submit"
                              id="message-btn"
                              class="btn btn-success"
                              onclick="test()"
                              
                              v-on:click="send_message"
                          ></button>
                          <label for="message-btn" id="send-label">
                            <svg xmlns="http://www.w3.org/2000/svg" id="send-button" width="25" height="25" fill="#FFFFFF" class="bi bi-send" viewBox="0 0 16 16">
                              <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                          </label>

                          <!-- <button class="btn btn-outline-dark" id="message-btn" type="submit"><i class="fa-solid fa-taxi"></i></button> -->

                          <!-- <button id="message-btn" type="submit" class="btn-primary"><i class="fa-solid fa-taxi"></i></button> -->
                      <!-- </form> -->
                      <!-- {{swapping}} -->
                  </div>
              </div>

            </div>

          </div>
            
        </div>
        </div>


        <!-- scripts -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
        
        <script>
          // import { getDatabase, ref, set, onValue, update } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-database.js"
          // import { getDatabase, ref, set, onValue, update } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-database.js";
            
          
          
          
          
          function sticky() {
                document.getElementsByClassName("sub_div")[0].style.position =
                    "sticky";
            }

          function overlay() {
                document.getElementById("overlay").style.display = "block";
          }

          function off() {
                document.getElementById("overlay").style.display = "none";
          }

            // function scroll(){
            // //   window.setInterval(function() {
            // var elem = document.getElementById('chat');
            // //   elem.scrollTop = elem.scrollHeight;
            // // }, 0);
            // window.scrollTo(0, document.querySelector(".chat").scrollHeight);

            // }
            function test() {
                var elem = document.getElementById("chat");
                elem.scrollTop = elem.scrollHeight;
            }

            
            // window.setInterval(function() {
            // var elem = document.getElementById('chat');
            //   elem.scrollTop = elem.scrollHeight;
            // }, 0);
            

            // function accept(e){
            //   // const db = getDatabase()
            //   // console.log("this user is"  + user)
            //   console.log(e)
            //   console.log("YES")
              
            //   console.log(e.id)

            //   let id = e.id
            //   let ride_id = id.split("_")[1]
            //   let user = id.split("_")[2]
            //   console.log(ride_id)


              // set the datebase
              // const db = getDatabase()
              // const updates = {};
              // updates[`rides/${ride_id}/users_offered`] = displayname
              // return update(ref(db), updates)


            // }

          

            // function decline(){
            //   const db = getDatabase()
            // }


            
        </script>
            
        
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"
    ></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="module" src="../../navbar/navbar.js"></script>
        <script type="module" src="../../index.js"></script>
        <!-- <script type="module" src="./chat.js"></script> -->
        <script src="vue.js" type="module"></script>
        
        
        
    </body>
</html>
