@import "../../../main.scss";

body {
  background-color: $light-green !important;
}

h1 {
  color: #4e7570;
}
#listing{
  background-color: $light-green;
}
.card{
  background-color: $light-green;
  margin:0 auto
}
.card-body{
  border-radius: 15px;
  background-color: $medium-green;
  min-width: 251px;
  min-height: 235px;
  max-width: 300px;
  max-height: 300px;
  color: $dark-green;
  transition: all .2s ease-in-out;
}

.card-body:hover{
  transition: all .2s ease-in-out;

  transform: scale(1.1);
}

.rounded-circle{
  width: 60px;
  border-color: $dark-green;
}
.badge{
  background-color: $dark-blue;
}

.inputs{
  position: relative;

}
input[type=text] {
  background-color: $medium-green;
  border-radius: 15px;
}

input[type=text]:focus {
  background-color: $medium-green;
  border-radius: 15px $dark-green;
}
.form-control {
  text-indent: 15px;
  background-color: $medium-green;
  border: none;
  height: 45px;
  width: 100%;
  border: #ffba08 2px solid;
}


.form-control::placeholder {
  text-align: center;
}

.bi-search{
  position: absolute;
  top: 12px;
  left: 8px;
  color: $dark-green;
}
.bi-plus-circle-fill{
  font-size: 3rem;
  color: $dark-green;
}

#add_ride{
  height: 30px;
}