<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        />
        <link rel="stylesheet" href="../../main.css" />
        <link rel="stylesheet" href="../../navbar/nav_styles.css" />
        <link rel="stylesheet" href="./profile.css" />
    </head>
    <body>
        <form id="profile_form"></form>
        <div id="navbarVue">
            <div data-page="profile"></div>
        </div>

        <div id="profileVue" class="wrapper">
            <div class="profile text-center justify-content-center">
                <img
                    id="profile-picture"
                    
                    class="profile-pic img-fluid rounded-circle rounded-circle-dp"
                    style="object-fit: contain; height: 200px; width: 200px; object-position: 50% 50%;border:black solid 1px" 
                    :src="profile_url"
                    alt="profile picture"
                />
                <h2 class="name"><strong>{{ displayname }}</strong></h2>
                <p class="degree-text">{{ degree }}, {{ yearOfStudy }}</p>
                <div class="additional-profile">
                    <div>
                        <p class=""><strong>Age</strong>:</p>
                        <p class="add-profile-fields">{{ age }}</p>
                    </div>
                    <div>
                        <p class=""><strong>Status</strong>:</p>
                        <p class="add-profile-fields">{{ status }}</p>
                    </div>
                    <div>
                        <p class=""><strong>Location</strong>:</p>
                        <p id='hsdf' class="add-profile-fields">{{ location_user }}</p>
                    </div>
                        <!-- <div id="map" style="width: 300px; height:300px;" class="mx-auto m-2 rounded-3"></div>
                            <script
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv4TSlT_Tm-4Pi6x6_bkUZKgsfr_iFe5Q&callback=initMap"
                                type="text/javascript" async defer></script>
                            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

                            <script>
                                var map;
                                var chosenloc = document.getElementById("hsdf").value;
                                var prof_loc = encodeURI(chosenloc);

                                var url =
                                "https://maps.googleapis.com/maps/api/geocode/json?address=" +
                                prof_loc +
                                "&key=AIzaSyAv4TSlT_Tm-4Pi6x6_bkUZKgsfr_iFe5Q";

                                axios.get(url)
                                .then(response => {
                                    console.log(response.data)
                                })
                                coords = [1.296568, 103.852119]
                                
                                function initMap() {
                                    map = new google.maps.Map(
                                        document.getElementById("map"),
                                        {
                                            center: { lat: coords[0], lng: coords[1] },
                                            zoom: 17,
                                            mapTypeControl: false,
                                            //mapTypeID: google.maps.mapTypeID
                                        }
                                    );
                                    marker = new google.maps.Marker({
                                        map,
                                        draggable: true,
                                        animation: google.maps.Animation.DROP,
                                        position: { lat: coords[0], lng: coords[1]},
                                        preserveViewport: true,
                                    });
                                }
                                initMap()
                            </script> -->
                    <div>
                        <p class=""><strong>MBTI</strong>:</p>
                        <a
                            :href="'https://www.16personalities.com/' + mbti.toLowerCase() + '-personality'"
                            class="personality add-profile-fields"
                            target="_blank"
                            >{{ mbti }}</a
                        >
                    </div>
                    <!-- the link can jus change the intp part to any other personality, eg infj etc -->
                </div>
                <div class="edit-profile" id="edit-profile">
                    <a href="./profile_edit.html"
                        ><button class="btn btn-edit-profile w-100">
                            Edit profile
                        </button></a
                    >
                    <br><br>
                    <a href="../login/login.html">
                        <button class="btn btn-logout w-100" onclick="localStorage.clear()">
                            Logout
                        </button>
                    </a>
                </div>
            </div>

            <main>
                <div class="card profile-card p-1">
                    <div class="card-body">
                        <h5 class="card-title">Bio</h5>
                        <p class="card-text ps-0">{{ bio }}</p>
                    </div>
                </div>
                <div class="card profile-card p-1">
                    <div class="card-body">
                        <h5 class="card-title preferences">Preferences</h5>
                        <h6>Price</h6>
                        <div class="meter">
                            <div
                                class="preference"
                                :class="'w'+prefPrice"
                            ></div>
                        </div>
                        <h6>Comfort</h6>
                        <div class="meter">
                            <div
                                class="preference"
                                :class="'w'+prefComfort"
                            ></div>
                        </div>
                        <h6>Convenience</h6>
                        <div class="meter">
                            <div
                                class="preference"
                                :class="'w'+prefConvenience"
                            ></div>
                        </div>
                        <h6>Speed</h6>
                        <div class="meter">
                            <div
                                class="preference"
                                :class="'w'+prefSpeed"
                            ></div>
                        </div>
                    </div>
                </div>
                <div class="card profile-card p-1">
                    <div class="card-body">
                        <h5 class="card-title">CCAs</h5>
                        <!-- <p class="card-text ps-0"> -->
                        <ul class="cca">
                            <li
                                v-for=" cca in ccas.slice(0, -1) "
                                class="rounded-pill"
                            >
                                {{ cca }}
                            </li>
                        </ul>
                        <!-- </p> -->
                    </div>
                </div>
                <div class="card profile-card p-1">
                    <div class="card-body">
                        <h5 class="card-title">Socials</h5>
                        <ul class="socials-ul" v-if=" showSocials ">
                            <li v-if=" linkedinLinkInput !== '' ">
                                <a
                                    :href="linkedinLink + linkedinLinkInput"
                                    target="_blank"
                                    ><i
                                        class="fab fa-linkedin fa-2x profile-fab"
                                    ></i
                                    >{{ fullLinkedinLink }}</a
                                >
                            </li>
                            <li v-if=" facebookLinkInput !== '' ">
                                <a
                                    :href="facebookLink + facebookLinkInput"
                                    target="_blank"
                                    ><i
                                        class="fab fa-facebook-square fa-2x profile-fab"
                                    ></i
                                    >{{ fullFacebookLink }}</a
                                >
                            </li>
                            <li v-if=" instagramLinkInput !== '' ">
                                <a
                                    :href="instagramLink + instagramLinkInput"
                                    target="_blank"
                                    ><i
                                        class="fab fa-instagram fa-2x profile-fab"
                                    ></i
                                    >{{ fullInstagramLink }}</a
                                >
                            </li>
                        </ul>
                        <p v-else>No socials added!!!</p>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>
        <script type="module" src="../../navbar/navbar.js"></script>
        <script src="./profile_mod.js" type="module"></script>
        <script src="./profile.js"></script>
    </body>
</html>
