@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #e3f1ef;
    margin-top: 90px !important;
}

.welcome {
    position: relative;
    width: 100%;
    height: 88.6vh;
    /* background-image: linear-gradient(to top, #5ee7df 0%, #e3f1ef 100%); */
    overflow: hidden;
}

.welcome h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 5rem;
}
/* .welcome p {
    position: absolute;
    top: 34%;
    left: 5%;
    font-size: 1.5rem;
} */

.skyline{
    background: url(skyline_edit.png);
    background-size: 180rem;
    background-position: left bottom;
    width: 500%;
    height:400px;
    position: absolute;
    bottom: 0;
    background-repeat: repeat-x;
    animation: moveRight 15s linear infinite;

}

.car-group {
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 5rem;
    animation: upDown 1s linear infinite;
}

.car {
    /* position: absolute; */
    bottom: 0;
    left: 5%;
    height: 5rem;
}

.tire {
    position: absolute;
    bottom: 0;
    height: 2rem;
    animation: rotatingWheels 1s linear infinite;
}

#tire1{
    left:13px;
}

#tire2 {
    left:78px;
}

@keyframes moveRight {
    100%{transform:translateX(-2870px)}
}

@keyframes upDown {
    50%{transform:translateY(-10px)}
}

@-webkit-keyframes rotatingWheels {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
/* HELLO */






/* HELLO */
/* ROTATING SUBTEXT */
.text {
    position: absolute;
    width: 600px;
    left: 5.4%;
    height: 40px;
    top: 36%;
    margin-top: -20px;
    font-size: 3rem;
    font-weight: bold;
}
  
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
  
.word {
    position: absolute;
    width: 300px;
    opacity: 0;
}
  
.letter {
    display: inline-block;
    position: relative;
    /* float: left; */
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.wisteria {
    color: #2dc937;
}
  
.belize {
    color: #99c140;
}
  
.pomegranate {
    color: 	#e7b416;
}
  
.green {
    color: #db7b2b;
}
  
.midnight {
    color: #cc3232;
}

/* ROTATING SUBTEXT */

.canvas {
	width: 100%;
	height: 88.6vh;
	border: 1px solid #000;
	margin: 0 auto;
	position: relative;
	animation-delay: 1s;
	background: #70c4c6;
	animation-name: daylight;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	overflow: hidden;
	animation-timing-function: linear;
    z-index: -1;
}
.eclipse {
	width: 100%;
	height: 88.6vh;
	/*border: 1px solid #000;*/
	position: absolute;
	left:60%;
	top:20%;
	animation-name: time;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	z-index: 0;
	animation-timing-function: linear;
}
.sun {
	width:100px;
	height:100px;
	border-radius: 50%;
	background-color: #ffa;
	position: absolute;
	top: -30px;
	left: -30px;
}
.sun.a {
	bottom: -20px;
	right: -20px;
	left: auto;
	top:auto;
}
.moon {
	position: absolute;
	top: -40px;
	right: -40px;
	width:100px;
	height:100px;
	border-radius: 50%;
	background-color: #fff;
}
.moon.a {
	bottom: -20px;
	left: -20px;
	top:auto;
	right: auto;
}
.cloud {
	width: 50px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top:20px;
	left: -20%;
	animation-name: cloud;
	animation-duration: 70s;
	animation-iteration-count: infinite;
	z-index: 1;
}
.cloud::before {
	content:'';
	width: 35px;
	height: 30px;
	background-color: #fff;
	margin-left: -20px;
	margin-top: 10px;
	display: block;
	border-radius: 50%;
}
.cloud::after {
	content:'';
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	right: -10px;
	top: 17px;
	border-radius: 50%;
}
.cloud.a {
	top:150px;
	animation-duration: 55s;
}
.cloud.b {
	top:100px;
	left:-15%;
	animation-duration: 38s;
}
.cloud.c {
	top:250px;
	left:-10%;
	animation-duration: 25s;
}

.star {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 100px;
	animation-name: fader;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.star::before {
	content: '';
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left:20px;
	top:20px;
	animation-name: blinker;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.star::after {
	content: '';
	width:2px;
	height:2px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left:-200px;
	top:50px;
	animation-name: blinker;
	animation-duration: 20s;
	animation-iteration-count: infinite;	
}
.star.a {
	top:30px;
	left:90%;
}
.star.b {
	top:120px;
	left:70%;
}
.star.c {
	top:100px;
	left:65%;
}
.star.d {
	top:200px;
	left:15%;
}
.swirly-wind {
	position: absolute;
	top:30%;
  animation-name: wind;
	animation-duration: 12s;
	animation-iteration-count: infinite;	
	animation-timing-function: linear;
}
.swirly-wind > span {
  width: 150px;
	background-color: #eee;
	height: 2px;
  display: block;
  position: relative;
}
.swirly-wind > span:first-child {
  width: 200px;
}
.swirly-wind > span:nth-child(1)::before {
  display: none;
}
.swirly-wind > span:nth-child(2) {
  margin-top: -10px;
  float: right;
}
.swirly-wind > span:nth-child(3) {
  margin-top: 15px;
  width: 75px;
  float: right;
}
.swirly-wind span::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #fff 2px solid;
  bottom: calc(100% - 2px);
  right: -15px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
}
.swirly-wind > span:nth-child(3)::before  {
  top: calc(100% - 2px);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 14% 100%, 35% 0);
clip-path: polygon(100% 0, 100% 100%, 14% 100%, 35% 0);
}

.swirly-wind.a {
  top:20%;
  width: 75px;
	animation-duration: 8s;
}
.swirly-wind.b {
  top:45%;
  width: 120px;
	animation-duration: 15s;
  height :1px;
}
.swirly-wind.b::before {
  border: #fff 1px solid;
  bottom: calc(100% - 1px);
}
.wind {
	width: 150px;
	background-color: #eee;
	height: 2px;
	position: absolute;
	top:30%;
	animation-name: wind;
	animation-duration: 8s;
	animation-iteration-count: infinite;	
	animation-timing-function: linear;
}
.wind::before {
	content: '';
	position: absolute;
	left: 200px;
	width: 100px;
	height: 1px;
	background-color: #eee;
	top:100px;
}
.wind::after {
	content: '';
	position: absolute;
	left: 400px;
	width: 180px;
	height: 1px;
	background-color: #eee;
	top:30px;
}
@keyframes time {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes daylight {
	0% {  background-color: #70c4c6; }
	15% {  background-color: #524b64; }
	40% { background-color: #354a4a; }
	70% { background-color: #354a4a; }
	80% {  background-color: #e2b553; }
	100% {  background-color: #70c4c6;}
}

@keyframes cloud {
	0% { transform: translateX(0); }
	100% { transform: translateX(850px); }
}
@keyframes rotate {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
@keyframes fader {
	0% { opacity: 0; }
	15% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 0.4; }
	70% { opacity: 1; }
	80% {  opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blinker {
	0% { opacity: 0; }
	18% { opacity: 0; }
	25% { opacity: 1; }
	40% { opacity: 0; }
	60% { opacity: 1; }
	70% {  opacity: 0; }
	100% { opacity: 0; }	
}
@keyframes blinker-1 {
	0% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	80% {  opacity: 0; }
	100% { opacity: 0; }	
}
@keyframes windy {
	15% {  transform: translateX(5px); transform: rotate(5deg); }
	80% {  transform: translateX(7px); transform: rotate(7deg);}
	80% {  transform: translateX(5px); transform: rotate(5deg);}
}
@keyframes wind {
	0% {  left: -800px; opacity: 0 }
	15% { opacity: 1; }
	70% { left: 800px; opacity: 1;}
	80% {  left: 800px; opacity: 0;}
	100% {  left: -1000px; opacity: 0;}
}


@keyframes snowday {
	0% {
		top: 0;
	}
	100% {
		top: 100%;
	}
}
.snow {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 0;
}
.snow.fall {
	animation-name: snowday ;
	animation-duration: 5s;
}