@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #e3f1ef;
    margin-top: 90px !important;
}

.welcome {
    position: relative;
    width: 100%;
    height: 88.6vh;
    background-image: linear-gradient(to top, #5ee7df 0%, #e3f1ef 100%);
    overflow-x: hidden;
}

.welcome h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 5rem;
}
/* .welcome p {
    position: absolute;
    top: 34%;
    left: 5%;
    font-size: 1.5rem;
} */

.skyline{
    background: url(skyline_edit.png);
    background-size: 180rem;
    background-position: left bottom;
    width: 500%;
    height:400px;
    position: absolute;
    bottom: 0;
    background-repeat: repeat-x;
    animation: moveRight 6s linear infinite;

}

@keyframes moveRight {
    70%{transform:translateX(-928px)}
}
/* HELLO */






/* HELLO */
/* ROTATING SUBTEXT */
.text {
    position: absolute;
    width: 600px;
    left: 5.4%;
    height: 40px;
    top: 36%;
    margin-top: -20px;
    font-size: 3rem;
    font-weight: bold;
}
  
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
  
.word {
    position: absolute;
    width: 300px;
    opacity: 0;
}
  
.letter {
    display: inline-block;
    position: relative;
    /* float: left; */
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.wisteria {
    color: #8e44ad;
}
  
.belize {
    color: #2980b9;
}
  
.pomegranate {
    color: #c0392b;
}
  
.green {
    color: #16a085;
}
  
.midnight {
    color: #2c3e50;
}

/* ROTATING SUBTEXT */