#navbarSupportedContent {
    text-align: end;
}

.navbar {
    background-color: #4e7570;
    transition: top 0.8s ease;
    padding: 1rem 4rem;
    z-index: 1;
}

.navbar-top {
    background-color: #4e7570;
    transition: top 0.8s ease, background-color 0.8s ease;
}

.navbar-down {
    background-color: #e3f1ef;
    transition: top 0.8s ease, background-color 0.8s ease;
}

.nav-item {
    padding-left: 0.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    min-width: 6rem;
    text-align: center;
    text-shadow: 0.5px 0.5px #4e7570;
    -webkit-text-stroke: 0.7px #75a19b;
}

.nav-item a:link,
.nav-item a:visited {
    text-decoration: none;
    color: #d9e9e6;
}

.nav-item a:hover,
.nav-item a:active {
    color: #bedad6;
    font-weight: 900;
    transition: 0.05s;
    -webkit-text-stroke: 0.5px #75a19b;
}
