
 /*LEAVE THIS FOR THE ANIMATIONS FOR NOW*/
.circle {
    animation: wave 4s infinite alternate;
}

@keyframes wave {
    0% {
        transform: translate(0px,10px);
}
    20% {
        transform: translate(40px,90px);
}
    40% {
        transform: translate(80px,10px);
}
    60% {
        transform: translate(120px,90px);
}
    80% {
        transform: translate(160px,10px);
}
    100% {
        transform: translate(200px,90px);
}
}